.header{
    background-color: black;
    height: 50px;
    padding: 20px;
}

a{
    color: goldenrod;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}